#joke-container {

}

#joke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
    box-shadow: 5px 5px #c3c3c3;
    border-radius: 1em;
    margin-bottom: 2em;
}

#joke :first-child{
    font-family: 'Poppins', serif;
    font-size: 1em;
    font-weight: bold;
}

#joke :nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-style: italic;
}