.todo-container {
    display: flex;
    width: 90%;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f3f3f3;
    box-shadow: 5px 5px rgb(240, 239, 236);
}


.todo-item {
    display: flex;
    height: 3em;
    width: 60%;
    border-bottom: 2px rgb(228, 224, 224) solid;
    margin-bottom: 1em;
    
}

.viz-container {
    width: 100%;
    height: 600px;
}
